@tailwind base;
@tailwind components;
@tailwind utilities;

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-out;
}

dialog[open] {
  margin: auto;
}

.animate-dialog {
  animation: scaleUp 0.3s ease-out;
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
